// <style lang="scss">
 // Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #464fa3;
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

$color-backround: #454d66; //backround
$color-primary: #009975; //primary
$color-button: #58B368; //button
$color-text: #D9D872; //text
$red: rgb(186, 65, 65);
$red-invert: findColorInvert($red);

$color-backround-inverted: findColorInvert($color-backround); //backround
$color-primary-inverted: findColorInvert($color-primary); //primary
$color-button-inverted: findColorInvert($color-button); //button
$color-text-inverted: findColorInvert($color-text); //text
$primary: $color-primary;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "twitter": ($twitter, $twitter-invert),

    "button": ($color-button, $color-button-inverted),
    "background":($color-backround, $color-backround-inverted),
    "text": ($color-text, $color-text-inverted),

);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;


// Checkout page
.custom-field-size{ max-width: 30em; }
.custom-numbutton-size{ max-width: 5em; }
.custom-dropdown-size{ max-width: 11em; }

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
// </style>
